<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
<article>
    <h1>View book</h1>
</article>

<div id='outer'>
    <div id='maincontent'>
        <table class="maintable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Genre</th>
                <th>Book id</th>

            </tr>
            </thead>
            <tbody id="tablebody">
            <tr>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.authors}">Author(s)</td>
                <td th:text="${book.genre}">Genre</td>
                <td th:text="${book.id}"></td>
                <td>
                    <a th:href="/@{'/book/' + ${book.id}}">View</a>
                </td>
            </tr>
            <tr>
                <td colspan="2"><a th:href="/@{'/delete/' + ${book.id}}">Delete</a></td>
                <td colspan="2"><a th:href="/@{'/edit/' + ${book.id}}">Edit</a></td>

            <tr></tr>
            </tbody>
        </table>

        <br>

        <table class="maintable">
            <thead>
            <tr>
                <th>Author</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody id="comments">
            <div th:each="comment : ${comments}">

                <tr>
                    <td th:text="${comment.name}">Author</td>
                    <td th:text="${comment.subject}">Subject</td>
                </tr>
            </div>
            </tbody>
        </table>


    </div>
</div>

</body>

</html>