<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
<article>
    <h1>Edit book</h1>
</article>

<div id='outer'>
    <div id='maincontent'>
        <form action="#" th:action="@{/edit}" th:object="${book}"
              method="post" id="mainform">
            <input type="hidden" th:field="*{id}"/>

            <table class="table">
                <tbody id="tablebody">
                <tr>
                    <td>Title</td>
                    <td><input type="text" th:field="*{title}"/></td>
                </tr>
                <tr>
                    <td>Author(s)</td>
                    <td><input type="text" th:field="*{authors}"/></td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td><input type="text" th:field="*{genre}"/></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="submit">Save</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</body>

</html>