<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
<article>
    <h1>Welcome to Book library</h1>
</article>

<div id='outer'>
    <div id='maincontent'>
        <a href="/add">Add book</a>
        <table class="maintable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Genre</th>
                <th>Book id</th>
                <th>View book</th>

            </tr>
            </thead>
            <tbody id="tablebody">
            <div th:each="book : ${books}">
                <tr>
                    <td th:text="${book.title}">Title</td>
                    <td th:text="${book.authors}">Author(s)</td>
                    <td th:text="${book.genre}">Genre</td>
                    <td th:text="${book.id}"></td>
                    <td>
                        <a th:href="/@{'/book/' + ${book.id}}">View</a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>