<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>View book and comments</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
</head>
<body>
<div>
    <h1>View book and comments</h1>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Book Title: </th>
            <th>Book Authors:</th>
            <th>Delete Book</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.authors}">Authors</td>
            <td>
                <a th:href="@{/delete(id=${book.id})}" href="delete.html">Delete Book</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <td th:text="${comment.name}">Name</td>
            <td th:text="${comment.subject}">Name</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    <a href="/">List Books</a>
</div>
</body>
</html>